html { background: #191e22; }
html * { margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif; }
body { text-align: center; color: #ededed; }

ul#nav { list-style: none; display: inline; }
ul#nav li { display: inline; }

div#content { width: 975px; margin: 0 auto; text-align: left; }
div#container { background: #191E22 url(/images/template1/bg.gif) top repeat-x; }
div#logo, div#nav_container { float: left; }
div#login, div#search { float: right; color: #000; }
div#login a {color: #eee; }
div#logout { margin-top: 27px; }
div#footer { margin: 0; bottom: 0; }

#nav_container, #search { margin: 6px 0 !important; display: block !important; }
div#nav ul { padding: 0; margin: 0; }
div#nav_container { display: block; }

#nav { font-weight: bold; }
#nav a { text-decoration: none; color: #464E58; } 
#nav a:active, #nav a:hover { color: #ededed; }
#nav { color: #464e58; }
#nav li.flash { color: #ff4500; }

#frame { margin: 20px 0 0 15px; text-align: center; }
#artwork_show { margin: 0 auto; text-align: left; }
#search_results { text-align: left; }

div#logo { margin: 17px 0 !important; display: block; }
input#username, input#password, input#search_field { margin: 0; background: transparent; color: #ddd; border: 1px solid #ccc; font-size: 14px; height: 16px; padding: 5px 8px 0px 6px; vertical-align: top; }
input#username, input#password { margin-top: 10px; }

.image_thumb { margin: 0 17px 17px 0; float: left; }

.pagination { text-align: center; font-weight: bold; margin-top: 10px; }

.pagination a { color: #464E58; font-weight: bold; text-decoration: none; }
.pagination a:active, .pagination a:hover { color: #ededed; }
.pagination a { font-size: 16px; }
.pagination .current { font-size: 22px; }
.pagination .prev_page, .pagination .next_page { font-size: 14px; }

.clear { clear: both; }

h1 { padding-bottom: 10px; text-align: left; }

.entry { height: 220px; width: 220px; display: block; float: left; margin: 20px 20px 0 0; text-align: left; background-repeat: no-repeat; }
.entry_details { background: url(/images/template1/overlay.png) repeat; }
.entry_details a { color: white; text-decoration: none; border-bottom: 2px solid white; }

img.img_show { float: left; padding: 10px; padding-top: 0; }
a img { border: none; }
