<h1>What's Hot</h1>
<% for artwork in @artworks %>
  <div class="entry">
    <%= link_to image_tag(artwork.image_url, :size => "225x225", :class => "image_thumb"), :controller => "artworks", :action => "show", :id => artwork.id %>
  </div>
<% end %>
<br class="clear" />
<%= will_paginate @artworks -%>
